.modeSelect {
  width: 100%;
  display: flex;

  p {
    font-size: 16px;
    color: #85a2b7;
    font-style: italic;
  }
}

.talerInput {
  width: 100%;
  margin-bottom: 6px;
  border: 2px solid #c5c5c5;
  border-radius: 8px;
  padding: 6px 12px;
  outline: none;
  color: #292929;
  background: #f3f3f3;
  font-size: 20px;
}

.content {
  width: 100%;
  display: flex;
  margin-top: 15px;
}

.sideDiv {
  width: 350px;
  margin-right: 32px;
}

.mainContent {
  width: 100%;
}

.tableBody {
  td,
  th {
    font-size: 16px;
    padding: 12px 16px;
  }
}

.replikkBody {
  background-color: #d7eeff;

  td {
    font-size: 16px;
  }
}

.timeDiv {
  display: block;
  width: 100%;
  padding: 20px;
  border: 2px solid #c5c5c5;
  border-radius: 8px;

  p,
  h2 {
    margin: 0;
  }

  hr {
    margin: 16px 0px;
  }

  button {
    padding: 4px 8px;
    border: 1px solid #292929;
  }
}

.beskjedArea {
  width: 100%;
  height: 150px;
  font-size: 20px;
  padding: 10px;
  border: 2px solid #c5c5c5;
  border-radius: 8px;
  outline: none;
}

.button {
  margin: 10px 0px;
  padding: 10px 15px;
  outline: none;
  border: 3px solid #0a466e;

  background-color: transparent;
  color: #0a466e;
  font-size: 16px;
  font-weight: bold;

  &:hover {
    background-color: #0a466e;
    color: #f5f3ee;
    cursor: pointer;
  }
}

.active {
  background-color: #0370bd;

  td {
    color: #f5f3ee;
    padding: 12px 16px;
  }
}

.saksopplysning {
  background-color: #0370bd;

  td {
    color: #ffffff;
    padding: 12px 16px;
  }
}

.buttonSmall {
  margin: 10px 5px 10px 0px;
  padding: 10px 15px;
  outline: none;
  border: 1px solid #292929;
  border-radius: 8px;

  background-color: transparent;
  color: #292929;
  font-size: 14px;

  &:hover {
    background-color: #292929;
    color: #f5f3ee;
    cursor: pointer;
  }
}
