.modeSelect {
  width: 100%;
  display: flex;

  p {
    font-size: 16px;
    color: #85a2b7;
    font-style: italic;
  }
}

.talerInput {
  width: 250px;
  margin-bottom: 15px;
  border: 3px solid #85a2b7;
  padding: 8px;
  outline: none;

  color: #0a466e;
  font-size: 20px;
}

.content {
  width: 100%;
  display: flex;
  margin-top: 50px;
}

.sideDiv {
  width: 250px;
  margin-right: 100px;
}

.mainContent {
  width: 100%;
}

.tableBody {
  td,
  th {
    font-size: 16px;
  }
}

.replikkBody {
  background-color: #ffefec;

  td {
    font-size: 16px;
  }
}

.timeDiv {
  display: block;
  width: 250px;
  padding: 20px;
  border: 3px solid #85a2b7;

  p,
  h1 {
    margin: 0;
  }

  hr {
    margin: 30px 0px;
  }

  button {
    padding: 3px 8px;
    margin-top: 5px;
    margin-right: 5px;
    border: none;
    border: 2px solid #0a466e;
    background-color: transparent;
    cursor: pointer;
    outline: none;
  }
}

.beskjedArea {
  width: 100%;
  height: 150px;
  font-size: 20px;
  padding: 10px;
  border: 3px solid #0a466e;
  outline: none;
}

.button {
  margin: 10px 0px;
  padding: 10px 15px;
  outline: none;
  border: 3px solid #0a466e;

  background-color: transparent;
  color: #0a466e;
  font-size: 16px;
  font-weight: bold;

  &:hover {
    background-color: #0a466e;
    color: #f5f3ee;
    cursor: pointer;
  }
}

.active {
  background-color: #ff6340;

  td {
    color: #f5f3ee;
    font-weight: 500;
  }
}

.saksopplysning {
  background-color: #0a466e;

  td {
    color: #73ffd7;
    font-weight: 500;
  }
}

.buttonSmall {
  margin: 10px 5px 10px 0px;
  padding: 10px 15px;
  outline: none;
  border: 1px solid #85a2b7;

  background-color: transparent;
  color: #0a466e;
  font-size: 14px;
  font-weight: bold;

  &:hover {
    background-color: #0a466e;
    color: #f5f3ee;
    cursor: pointer;
  }
}
