.actionButtons {
  width: 100%;
  padding: 10px 0px;
  align-items: flex-start;

  button {
    margin: 10px 5px 10px 0px;
    padding: 10px 15px;
    outline: none;
    border: 1px solid #292929;
    border-radius: 8px;

    background-color: transparent;
    color: #292929;
    font-size: 14px;

    &:hover {
      background-color: #292929;
      color: #f5f3ee;
      cursor: pointer;
    }
  }
}
