.title a {
  color: #0a466e;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  width: 90%;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  flex-basis: 40%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  cursor: pointer;
}

.card:hover,
.card:focus,
.card:active {
  color: #0a466e;
  border-color: #0a466e;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
}

.footer {
  color: #0a466e;
  position: absolute;
  bottom: 50px;

  a {
    width: 100%;
    padding: 50px;
    color: inherit;
    text-decoration: none;

    &:hover {
      font-weight: bold;
    }
  }
}
