.menugrid {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}

.card {
  background: #e9e9e9;
  border-radius: 8px;
  padding: 10px 24px;
  cursor: pointer;
}

.card h4 {
  margin: 0;
  font-size: 1rem;
  font-weight: 500;
}
