.modalTitle {
  color: #0a466e;
  margin: 0;
  font-size: 2rem;
}

.addButton {
  margin: 10px 0px;
  padding: 10px 15px;
  outline: none;
  border: 2px solid #0a466e;

  background-color: transparent;
  color: #0a466e;
  font-size: 16px;
  font-weight: bold;

  &:hover {
    background-color: #0a466e;
    color: #f5f3ee;
    cursor: pointer;
  }
}

.addInput {
  width: 95%;
  padding: 10px;
  margin: 10px 0px;
  outline: none;

  font-size: 18px;
  border: 2px solid #0a466e;
  color: #0a466e;
}
