.tableHeader {
  background-color: #0a466e;

  th {
    font-weight: bold;
    color: #ffde66;
  }
}

.tableBody {
  span {
    font-size: 22px;
    margin: 0px 8px;
    color: #0a466e;

    &:hover {
      color: #0a466e;
      cursor: pointer;
    }
  }

  a {
    color: #0a466e;
  }
}

.button {
  margin-right: 15px;
  padding: 5px 10px;
  outline: none;
  border: 1px solid #0a466e;
  border-radius: 4px;

  background-color: transparent;
  color: #0a466e;
  font-size: 14px;

  &:hover {
    background-color: #0a466e;
    color: #73ffd7;
    cursor: pointer;
  }
}
